ion-menu { 
	ion-toolbar{
		text-align: center;
		color: #fff;

		ion-avatar > img{
			border-radius:50%;
			height:12rem;
			width:12rem;
		}

		.name{
			font-size: 23px;
		}

		.ira{
			font-size: 15px;
		}
	}
}
